<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
<<<<<<< HEAD
</li>
=======
</li>
>>>>>>> 7a4ab8fb42ad8330c565974e3561a9714f3594ba
