<% if object.errors.any? %>
<<<<<<< HEAD
	<div id="error_explaination">
		<div class="alert alert-error">
			The form contains <%= pluralize(object.errors.count, "error") %>
		</div>
		<ul>
				<% object.errors.full_messages.each do |msg| %>
						<li>* <%= msg %></li>
				<% end %>
		</ul>
</div>
<% end %>

=======
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
>>>>>>> 7a4ab8fb42ad8330c565974e3561a9714f3594ba
